{% extends "bases/base_event.html" %}
{% load static %}

{% block 'importations' %}
<link href="{% static 'events/css/manage_event.css' %}" rel="stylesheet">
{% endblock %}

{% block 'content' %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md">
            <form action="{% url 'manage_event' %}" method="GET">
                <label>Título:</label>
                <input type="text" placeholder="Título..." class="form-control" name="name">
        </div>
        <div class="col-md">
            <br>
            <input type="submit" class="btn-principal" value="filtrar">
            </form>
        </div>
    </div>
    <table>
        
        <tr>
            <th>Logo</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Início</th>
            <th>Término</th>
            <th>Link de inscrição</th>
        </tr>

        {% for event in events %}
        <tr class="{% cycle 'linha' 'linha2' %}">
            <td width="10%"><a href="{% url 'event_participant' event.id %}"><img width="100%" src="/media/{{event.logo}}"></a></td>
            <td>{{event.name}}</td>
            <td>{{event.description}}</td>
            <td>{{event.start_date}}</td>
            <td>{{event.final_date}}</td>
            <td>http://127.0.0.1/800/events/register_event/{{event.id}}</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}